extends template

block content
    main
        header
        .buttons
            button#window Window
            button#navigator Navigator
            button#location Location
            button#screen Screen
