@import "template.styl"

.container
  display flex
  flex-direction row
  width 100%
  height 100%
  .iframe-header
    width 50%
    height 100%

  .right-container
    width 50%
    height 100%
    display flex
    flex-direction column

    .iframe-links
      height 20vh
    .iframe-main
      height 80vh