extends template

block content
    .container
        iframe(src="header.html").iframe-header
        .right-container
            iframe(src="links.html").iframe-links
            iframe(name="main").iframe-main
