extends template

block content
    menu
        ul
            li
                a(target='menu',href="menu-1.html") menu 1
            li
                a(target='menu',href="menu-2.html") menu 2
            li
                a(target='menu',href="menu-3.html") menu 3