extends template

block content
    .container
        .left-container
            iframe(src="links-top.html").iframe-links-top
            iframe(name="menu").iframe-links-bot
        .right-container
            iframe(name="main").iframe-main