@import "template.styl"

body
  background-color #f5f5f5
  .links-wrapper
    width 100%
    display flex
    margin-top 3rem
    .links
      margin auto
      display flex
      flex-direction column
      h2
        margin auto
  .groups-wrapper
    width 100%
    display flex
    margin-top 3rem

    .groups
      background-color white
      margin auto
      .group
        padding 2rem
        margin auto
        display flex
        flex-direction column
        h3
          margin 0 auto 1rem
        table
          margin auto
          tr
            th
              padding-bottom 0.5rem
            td
              text-align center
              padding 0 2rem

  footer
    width 100%
    margin-top 2rem
    display flex
    flex-direction column
    justify-content center
    align-items center